.container {
  width: 100%;   
  height: 100vh; 
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute; 
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba(134,110,194,1), rgba(134,110,194,0.4));
}

.text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2vw;
  font-weight: bold;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.info-wrapper {
  position: absolute;
  bottom: 6%;
  right: 3%;
  transition: transform 0.1s ease;
}

.btn-active{
 transform: scale(1.1);   
}

.dull-overlay{
  position: absolute; 
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background: rgba(100,99,103,0.6);
  z-index: 1;
}